@import url("./reset.css");
@import url("./claude-palette.css");

:root {
    --sky-color: oklch(84.2% 0.079 245.947deg);
    --sky-color-light: oklch(90% 0.05 245.947deg);
    --grass-color: oklch(72.7% 0.175 131.283deg);
    --grass-color-dark: oklch(60% 0.175 131.283deg);

    /* Complementary color of --sky-color */
    --earth-color: oklch(28% 0.06% 71.491deg); /* #3b2300 */

    /* triadic paletton */
    --white: oklch(100% 0 0deg);
    --pink: oklch(86.3% 0.109 334.691deg);
    --yellow: oklch(96.1% 0.138 105.627deg);
    --green: oklch(92% 0.177 136.335deg);
    --text-color: var(--earth-color);
    --player-btn-bg: var(--sky-color-light);
}

@font-face {
    font-family: aoharu;
    src: url("./assets/aoharu-marker-mini.ttf") format("truetype"),
         url("./assets/aoharu-marker-mini.woff") format("woff");
}

h1, h2, h3 {
    color: var(--grass-color-dark);
    font-family: "Zen Loop", cursive;
    font-weight: 400;
    letter-spacing: 0.1em;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2.5rem;
    color: var(--white);
    text-shadow: var(--pink) 1px 0 10px;
}

h3 {
    font-size: 2rem;
}

img.logo {
    margin: 2rem auto;
}

.box {
    background-color: #a1d1fccc;
    padding: 1rem;
    border-radius: 2px;
    box-shadow: 8px 8px 0 var(--pink);
    border: 8px solid var(--white);
}
