/* Base */

@import url("./base/reset.css");
@import url("./base/utopia.css");

/* Composition */

/* @import url("./compositions/page.css"); */
@import url("./compositions/cluster.css");
@import url("./compositions/flow.css");
@import url("./compositions/grid.css");
@import url("./compositions/repel.css");
@import url("./compositions/wrapper.css");

/* Utilities */
@import url("./utilities/center.css");
@import url("./utilities/region.css");

/* Blocks */
@import url("./blocks/prose.css");

/* Exceptions */

@font-face {
    font-family: aoharu;
    src: url("/assets/aoharu-marker-mini.woff") format("woff"),
         url("/assets/aoharu-marker-mini.ttf") format("truetype");
}

:root {
    --sky-color: oklch(84.2% 0.079 245.947deg); /* #a1d1fc */
    --grass-color: oklch(72.7% 0.175 131.283deg); /* 7ebc35 */
    --sky-color-light: oklch(from var(--sky-color) calc(l + 0.06) calc(c - 0.03) h);
    --grass-color-dark: oklch(from var(--grass-color) calc(l - 0.12) calc(c + 0.03) h);

    /* Complementary color of --sky-color */
    --earth-color: oklch(28% 0.06% 71.491deg); /* #3b2300 */
    --dark-blue: oklch(46.4% 0.14 253.032deg); /* #0659A4 */

    /* triadic paletton */
    --white: oklch(100% 0 0deg);
    --pink: oklch(86.3% 0.109 334.691deg);
    --yellow: oklch(96.1% 0.138 105.627deg);
    --green: oklch(92% 0.177 136.335deg);

    /* font family */
    --title-font: aoharu, cursive;
    --text-font: "Barlow", system-ui, sans-serif;
}

:where([data-astro-image]) {
  object-fit: var(--fit, contain);
  object-position: var(--pos, center);
}

:where([data-astro-image='full-width']) {
  width: 100%;
}

:where([data-astro-image='constrained']) {
  max-width: 100%;
}

h1 {
    font-family: var(--title-font);

    /* @link https://utopia.fyi/clamp/calculator?a=320,1240,27—48 */
    --raw-fs: clamp(27px, 19.6957px + 2.2826vw, 48px);

    /* https://ishadeed.com/article/css-round/ */
    font-size: round(down, var(--raw-fs), 2px);
    font-weight: bold;
    font-synthesis: weight;
}

@keyframes squiggly {
  0% {
    filter: url("#squiggly-0");
  }

  25% {
    filter: url("#squiggly-1");
  }

  50% {
    filter: url("#squiggly-2");
  }

  75% {
    filter: url("#squiggly-3");
  }

  100% {
    filter: url("#squiggly-4");
  }
}
